{% extends 'base.html' %}

{% block content %}
<h1>Update Record</h1>

<div class="container col-md-6">
    <div class="row">
        <form action="{% url 'add_record' %}" method="POST">
            {% csrf_token %}
         
            {{form.as_p}}
             
             <button class="btn btn-primary" type="submit">ADD RECORD</button>
             
         </form> 
      
    </div><br>
    <a  href="{% url 'home' %}"><button class="btn btn-info">BACK</button></a>
</div>



{% endblock %}
